@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: #f7f7f7
}

nav {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #5669FF;
    padding: 10px;
}

nav a:hover{
    text-decoration: underline;
    color: white;
    background: #5669FF;
    border-radius: 12px;
}

form{
    color: #5669ff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

label{
    margin: 30px;
}

html {
    height: 100%;
    width: 100%;
}